#camerasrc{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:30px;
  background: #73AD21;
  padding: 5px;
  height: auto;

}
#babyimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.alce{
  text-align: center;
}
#soundbtn{ 
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 10px;
  border-radius: 10px;
  border-color: #73AD21;
  border-width: 4px;
  opacity: 1;
  
}
 
#fontmuso{
  display: block;
  margin-left: auto;
  margin-right: auto;
  color:rgb(0, 255, 0);
  font-family:Arial;
}
#htmltext{
  color:rgb(0, 255, 0);
  font-family:Arial;
}
#onbtn{
padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 10px 10px;
  border-radius: 10px;
  border-color: #73AD21;
  border-width: 4px;
  opacity: 1;
}
#offbtn{
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 10px 4px;
  border-radius: 10px;
  border-color:#73AD21;
  border-width: 4px;
  opacity: 1;
}
